/* You can add global styles to this file, and also import other style files */
html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, span, h5{
    color: #5050c5;
    font-family: 'Heebo', serif;
    line-height: 1.4;
}
h1, h2, h3, h4{
    color: #222;
    font-family: 'Crimson Text', serif;
    font-weight: 100;
    letter-spacing: 0.5px;
    font-size: 1.5rem;
}

section h4:first-child{
    margin: 0;
    margin-bottom: 1rem;
    text-align: center;
}

section.slice{
    height: 100vh;
    width: 100%;
}
section.minslice{
    min-height: 100vh;
    width: 100%;
    padding-top: 1rem;
}
.member-desc{
    text-align: center;
}
.members{
    padding: 2rem;
}
hr{
    margin-left: 2rem;
    margin-right: 2rem;
}

app-memberlist > section{
    background-color: #fafafa;
}
app-alumnilist > section{
    background-color: #ececec;
}

.heroplate{
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
    .heroplate .herocontent{
        font-weight: 100;
        color: white;
    }
/* Segmented Member Control */
.seg-member-container{
    display: grid;
    grid-template-columns: 35% 1fr;
    /* margin-bottom: 1rem; */
    min-height: 18vh;
}
    .seg-member-container.member:nth-child(even){
        grid-template-columns: 1fr 35%;
    }
    .seg-member-container.member:nth-child(even) > section:nth-child(1){
        order: 2;
    }
    .seg-member-container.alumni:nth-child(odd){
        grid-template-columns: 1fr 35%;
    }
    .seg-member-container.alumni:nth-child(odd) > section:nth-child(1){
        order: 2;
    }
.seg-member-container > section{
    /* padding: 2rem; */
}
.seg-member-container > section:nth-child(1){
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
}
.seg-member-container > section:nth-child(1) p{
    text-align: center;
}
.seg-member-container > section:nth-child(2){
    padding: 1rem;
    /* background-color: pink; */
}

.seg-member-container.alumni > section:nth-child(2){
    padding: 1rem;
    /* background-color: #91f2cd; */
}

.seg-member-container .portrait-frame{
    display: flex;
    flex-flow: column;
    padding: 2rem;
}
    .portrait-frame > section{
        flex-grow: 1;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

@media (orientation: landscape) {
    .members {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    .seg-member-container{
        display: grid;
        height: calc(100vh - 3rem);
        grid-template-rows: 1fr 35%;
        grid-template-columns: 1fr;
        margin-bottom: 1rem;
        min-height: 18vh;
    }
    .seg-member-container.member:nth-child(even){
        grid-template-rows: 1fr 35%;
        grid-template-columns: 1fr;
    }
    .seg-member-container.member:nth-child(even) > section:nth-child(1){
        order: 1;
    }
    .seg-member-container.member:nth-child(even) > section:nth-child(2){
        order: 2;
    }
    .seg-member-container.alumni:nth-child(odd){
        grid-template-rows: 1fr 35%;
        grid-template-columns: 1fr;
    }
    .seg-member-container.alumni:nth-child(odd) > section:nth-child(1){
        order: 1;
    }
    .seg-member-container.alumni:nth-child(odd) > section:nth-child(2){
        order: 2;
    }
  }

  /* 
  ##Device = Desktops
*/

@media (min-width: 1240px) {
    .members{
        max-width: 70vw;
        margin-left: auto;
        margin-right: auto;
        grid-column-gap: 2rem;
    }
    .seg-member-container{
        height: calc(70vh - 3rem);
    }
  }
  


/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
    .detail{
        display: none;
    }
}